<!--[ container START ]-->
<div class="container">
  <h4 class="mt-4 mb-3">우리는 무엇을 파는가?<small></small></h4>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">제품소개</li>
    <li class="breadcrumb-item">
      <a routerLink="/products">우리의 제품</a>
    </li>
    <li class="breadcrumb-item"><a routerLink="/barotok">바로톡</a></li>
    <li class="breadcrumb-item active">거름망 (barotok)</li>
  </ol>
  <br />
  <div class="row">
    <div class="col-lg-9">
      <h5>거름망 대형(Garbage Bags Large)</h5>
      <div class="shadow-sm p-3 mb-5 rounded text-center bg-light">
        <!--.bg-cover(style="background-image: url('/assets/img/back-soil--test.jpg');")-->
        <div class="row">
          <div class="w-75 py-3">
            <img
              class="w-75 rounded"
              src="/assets/img/barotok-filter-L01.png"
              alt=""
            />
          </div>
          <div class="w-25 py-3">
            <img
              class="zoom w-50 m-3 rounded"
              src="/assets/img/barotok-filter-L01.png"
              alt=""
            /><img
              class="zoom w-50 m-3 rounded"
              src="/assets/img/barotok-filter-L02.png"
              alt=""
            /><img
              class="zoom w-50 m-3 rounded"
              src="/assets/img/barotok-filter-L03.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="shadow-sm mb-3 bg-light rounded p-3">
        <h5>제품설명</h5>
        <hr />
        <p class="text-secondary">
          친(親)환경이 아닌 필(必환)경인 시대에 맞추어 국내 최초 전분을
          주성분으로 사용하여 100% 생분해 가능한 거름망을 개발하여 원천 특허
          3개를 보유하고 있는 제품입니다.
        </p>
        <p class="text-secondary">
          바로톡 거름망은 생분해성으로 음식물과 함께 분해되어 편리하고
          위생적으로 사용할 수 있는 제품입니다.
        </p>
        <table
          class="table table-sm table-borderless align-middle text-secondary"
        >
          <tbody>
            <tr>
              <td class="align-middle text-center">
                <img
                  src="/assets/img/barotok-filter-design01.png"
                  alt="..."
                  style="width: 24px;"
                />
              </td>
              <td class="align-middle">
                거름망은 100%자연분해되므로 음식물과 함께 배출해도 괜찮습니다.
              </td>
            </tr>
            <tr>
              <td class="align-middle text-center">
                <img
                  src="/assets/img/barotok-filter-design02.png"
                  alt="..."
                  style="width: 24px;"
                />
              </td>
              <td class="align-middle">
                내열 테스트를 완료하여 100℃ 이하에서 녹지 않습니다.
              </td>
            </tr>
            <tr>
              <td class="align-middle text-center">
                <img
                  src="/assets/img/barotok-filter-design03.png"
                  alt="..."
                  style="width: 24px;"
                />
              </td>
              <td class="align-middle">
                인장강도 테스트를 완료하여 쉽게 찢어지지 않습니다.
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="list-inline">
          <li class="list-inline-item text-secondary">
            ※특허 등록이 되어있는 상품입니다.
          </li>
          <li class="list-inline-item">
            <div class="btn-group dropright">
              <button
                class="btn btn-sm btn-secondary dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                자세히
              </button>
              <div class="dropdown-menu" style="width: 400px;">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <img
                      src="/assets/img/patent-01.jpg"
                      alt=""
                      style="width:125px;"
                    />
                  </li>
                  <li class="list-inline-item">
                    <img
                      src="/assets/img/patent-011.jpg"
                      alt=""
                      style="width:125px;"
                    />
                  </li>
                  <li class="list-inline-item">
                    <img
                      src="/assets/img/patent-012.jpg"
                      alt=""
                      style="width:125px;"
                    />
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <!--.dropright.text-secondary.pb-0span.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
  | ※특허 등록이 되어있는 상품입니다.
.col-lg-3.dropdown-menu
  img.disabled.img-fluid.dropdown-item.my-3(src='/assets/img/patent-01.png', alt='')
  img.disabled.img-fluid.dropdown-item.my-3(src='/assets/img/patent-011.png', alt='')
  img.disabled.img-fluid.dropdown-item.my-3(src='/assets/img/patent-012.png', alt='')
  
-->
      </div>
      <div class="shadow-sm p-3 pb-1 mb-3 bg-light rounded">
        <h5>제품사양</h5>
        <hr />
        <table class="table table-sm table-borderless text-secondary">
          <tbody>
            <tr>
              <td scope="row">제품명</td>
              <td>싱크대 거름망 대형</td>
            </tr>
            <tr>
              <td scope="row">사용규격</td>
              <td>200mm X 185mm (배수구 사용 내경 145mm)</td>
            </tr>
            <tr>
              <td scope="row">구성품</td>
              <td>싱크대 거름망 대형</td>
            </tr>
            <tr>
              <td scope="row">소재</td>
              <td>전분</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="shadow-sm p-3 pb-1 mb-3 bg-light rounded">
        <h5>제품 품질</h5>
        <hr />
        <div class="row">
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="/assets/img/barotok-filter-test01.gif"
                alt=""
              />
              <div class="card-body">
                <p class="card-text text-secondary">내열(100℃) 테스트</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="/assets/img/barotok-filter-test02.gif"
                alt=""
              />
              <div class="card-body">
                <p class="card-text text-secondary">하중 테스트</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="/assets/img/barotok-filter-test03.gif"
                alt=""
              />
              <div class="card-body">
                <p class="card-text text-secondary">입자 크기 테스트</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="/assets/img/barotok-filter-test04.gif"
                alt=""
              />
              <div class="card-body">
                <p class="card-text text-secondary">물 빠짐 테스트</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="/assets/img/barotok-filter-test05.gif"
                alt=""
              />
              <div class="card-body">
                <p class="card-text text-secondary">인장 강도 테스트</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 mb-5"><app-side-menu></app-side-menu></div>
    <div class="col-lg-9 col-md-4 mb-5"><app-bottom-info></app-bottom-info></div>
    
  </div>
</div>
<!--[ container END ]-->
