<div class="container">
  <!-- Page Heading/Breadcrumbs-->
  <h4 class="mt-4 mb-3">우리는 무엇을 파는가?<small></small></h4>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">제품소개</li>
    <li class="breadcrumb-item">
      <a routerLink="/products">우리의 제품</a>
    </li>
    <li class="breadcrumb-item active">바로톡</li>
  </ol><img class="img-fluid rounded mb-4" src="assets/img/barotok-brandstory.jpg" alt="" />
  <hr />
  <h5 class="text-dark font-weight-bold">바로톡(BAROTOK) 브랜드 스토리</h5>
  <hr />
  <p class="text-dark">음식물 쓰레기에 손을 대지 않고 처리할 방법은 없을까? </p>
  <p class="text-secondary">누구나 겪는 일상 속 불편함에 착안해 누구도 만들지 못한 친환경 거름망 <span class="text-success font-weight-bold">‘바로톡’</span>을 만들었습니다.
    집안일을 하면서 가장 골치 아픈 일이 싱크대 거름망 청소였습니다.
    특히 여름에는 금새 스테인리스 거름망 틈새에 찌꺼기가 썩어 냄새도 심하고 여간 성가신 일이 아니었습니다. 누구나 이런 불편함을 겪어보셨을 것입니다.
  </p>
  <p class="text-dark">음식물과 함께 거름망을 통째로 ‘바로 톡’하고 버릴 수 있는 방법은 없을까?</p>
  <p class="text-secondary">
    (주)테바는 소비자의 불편함을 해소하면서 미래 세대에 편리하고 안전함까지 갖춘 제품을 생각하게 되었습니다.
    그래서 바로톡은 첫 번째 음식물을 깔끔하게 버릴 수 있도록 하는 데에 목적을 두고 소비자의 가감없는 의견을 반영하여 제품의 완성도를 높였고,
    두 번째 환경을 생각하여 제품을 제작하였습니다. 분해되지 않고 계속 쌓여 우리 아이들에게 가는 폴리비닐이나 나일론 거름망과 달리 바로톡은 친환경 소재로 만들었습니다.
    당사가 <span class="text-success font-weight-bold">국내 최초 개발</span>하여 바로톡에 사용중인 필름은 180일 후 음식물과 같이 거름망 자체가 생분해 되어 환경에 무해합니다.
    또한 최근에는 소비자의 니즈를 파악하여 기존의 제품에 초파리 등이 모이지 않도록 친환경 코팅제를 입힌 <span class="text-success font-weight-bold">‘바로톡 에프’ </span>를 제조하였습니다.
  </p>
  <hr /><br />
  <h4>사용방법</h4>
  <div class="row">
    <div class="col">
      <video class="w-100 rounded" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="assets/videos/barotok-using-set.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="col">
      <video class="w-100 rounded" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="assets/videos/barotok-using-change.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
  <hr /><br />
  <h4>제품구성</h4>
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100"><a routerLink="filter"><img class="card-img-top" src="assets/img/tn-barotok-filter.png" alt="" /></a>
        <div class="card-body">
          <h6 class="card-title font-weight-bold"><a routerLink="filter">거름망(Garbage Bags)</a></h6>
          <p class="card-text">음식물과 함께 버려도 자연 생분해 되기 때문에 전혀 걱정없는 바로톡 싱크대 거름망</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100"><a routerLink="F"><img class="card-img-top" src="assets/img/tn-barotok-f.png" alt="" /></a>
        <div class="card-body">
          <h6 class="card-title font-weight-bold"><a routerLink="F">거름망 에프(Garbage Bags F)</a></h6>
          <p class="card-text">'초파리 기피'기능까지 더해진 Premium 싱크대 거름망</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100"><a routerLink="cover"> <img class="card-img-top" src="assets/img/tn-barotok-cover.png" alt="" /></a>
        <div class="card-body">
          <h6 class="card-title font-weight-bold"><a routerLink="cover"> 커버(Cover)</a></h6>
          <p class="card-text">바로톡 싱크대 커버, 사용자들이 편리하게 사용할 수 있도록 디자인된 바로톡 거치대,커버</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100"><a routerLink="dispenser"><img class="card-img-top" src="assets/img/tn-barotok-dispenser.png" alt="" /></a>
        <div class="card-body">
          <h6 class="card-title font-weight-bold"><a routerLink="dispenser">디스펜서(Dispenser)</a></h6>
          <p class="card-text">바로톡 거름망들을 한곳에 모아두어 필요할때 마다 뽑아서 사용할 수 있는 바로톡 디스펜서</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row-->
  <!-- Our Customers--><br />
  <h4>바로톡 사진들</h4>
  <div class="row">
    <div class="col-lg-2 col-sm-4 mb-4"><img class="img-fluid" src="assets/img/barotok-p (1).jpg" alt="" /></div>
    <div class="col-lg-2 col-sm-4 mb-4"><img class="img-fluid" src="assets/img/barotok-p (2).jpg" alt="" /></div>
    <div class="col-lg-2 col-sm-4 mb-4"><img class="img-fluid" src="assets/img/barotok-p (3).jpg" alt="" /></div>
    <div class="col-lg-2 col-sm-4 mb-4"><img class="img-fluid" src="assets/img/barotok-p (4).jpg" alt="" /></div>
    <div class="col-lg-2 col-sm-4 mb-4"><img class="img-fluid" src="assets/img/barotok-p (5).jpg" alt="" /></div>
    <div class="col-lg-2 col-sm-4 mb-4"><img class="img-fluid" src="assets/img/barotok-p (6).jpg" alt="" /></div>
  </div>
</div>