    <div class="container">
      <!-- Page Heading/Breadcrumbs-->
      <h4 class="mt-4 mb-3">우리는 무엇을 파는가?<small> </small></h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">제품소개</li>
        <li class="breadcrumb-item active">어디서 살까?</li>
      </ol>

      <div class="row">
          <div class="col-md-7">
            <a href="#"
              ><img
                class="img-fluid rounded mb-3 mb-md-0"
                src="assets/img/where-tebahmall.png"
                alt=""
            /></a>
          </div>
          <div class="col-md-5">
            <h3>테바몰</h3>
            <!-- <p>곧 여러분께 다가가겠습니다.</p> -->
            <p>현재는 포인트를 통해서만 구매할 수 있습니다.</p>
            <a class="btn btn-primary" routerLink="/mall">
              구매하기
            </a>
          </div>
        </div>
        
        <hr />

      <div class="row">
        <div class="col-md-7">
          <a routerLink="on"
            ><img
              class="img-fluid rounded mb-3 mb-md-0"
              src="assets/img/where-online.png"
              alt=""
          /></a>
        </div>
        <div class="col-md-5">
          <h3>온라인 구매</h3>
          <p>
            현재 '테바'는 온라인 쇼핑몰 15곳에 제품을 등록하여 판매를 진행하고
            있습니다. 신세계닷컴(SSG), GS홈쇼핑, CJ홈쇼핑, NAVER스마트 스토어,
            롯데몰, 11번가, 옥션, 지마켓, 쿠팡, 위메프, 공영홈쇼핑 등 다양한
            채널을 통해 온라인 구매를 할 수 있습니다.
          </p>
          <a class="btn btn-primary" routerLink="on"
            >구매처 확인하기<span
              class="glyphicon glyphicon-chevron-right"
            ></span
          ></a>
        </div>
      </div>
      <!-- /.row-->
      <hr />
      <!-- Project Two-->
      <div class="row">
        <div class="col-md-7">
          <a routerLink="off"
            ><img
              class="img-fluid rounded mb-3 mb-md-0"
              src="assets/img/where-offline.png"
              alt=""
          /></a>
        </div>
        <div class="col-md-5">
          <h3>오프라인 구매</h3>
          <p>
            롯데마트 전지역 점, 이마트 전지역 점, 하나로마트 55개 매장, 홈플러스
            65개 등 많은 오프라인 매장에 입점하여 곳곳에서 바로톡을 만날수
            있습니다.
          </p>
          <a class="btn btn-primary" routerLink="off"
            >매장 확인하기<span class="glyphicon glyphicon-chevron-right"></span
          ></a>
        </div>
      </div>
      <!-- /.row--><!-- /.row-->
      <hr />
    </div>

    <!-- /.container-->
