    <div class="container">
      <!-- Page Heading/Breadcrumbs-->
      <h4 class="mt-4 mb-3">우리는 무엇을 파는가?<small> </small></h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">제품소개</li>
        <li class="breadcrumb-item active">어떻게 만들까?</li>
      </ol>
      <img
        class="img-fluid rounded mb-4 mb-md-0"
        src="assets/img/making-clean.png"
        alt=""
      /><br /><br />
      <h4>제품 생산과정</h4>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <video
            class="w-100 rounded"
            playsinline="playsinline"
            autoplay="autoplay"
            muted
            oncanplay="this.muted=true"
            loop="loop"
          >
            <source src="assets/videos/making-01.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="col-lg-4 mb-4">
          <video
            class="w-100 rounded"
            playsinline="playsinline"
            autoplay="autoplay"
            muted
            oncanplay="this.muted=true"
            loop="loop"
          >
            <source src="assets/videos/making-03.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="col-lg-4 mb-4">
          <video
            class="w-100 rounded"
            playsinline="playsinline"
            autoplay="autoplay"
            muted
            oncanplay="this.muted=true"
            loop="loop"
          >
            <source src="assets/videos/making-02.mp4" type="video/mp4" />
          </video>
        </div>
        <!--.col-lg-4.mb-4.card.h-100.text-center
  img.img-fluid.rounded(src='assets/img/making-gif02.gif', alt='')--><!--.col-lg-4.mb-4.card.h-100.text-center
  img.img-fluid.rounded(src='assets/img/making-gif031.gif', alt='')--><!--.col-lg-4.mb-4.card.h-100.text-center
  .embed-responsive.embed-responsive-1by1.rounded
    //iframe.embed-responsive-item(src='/videos/making-01.mp4', allowfullscreen='')
    video.embed-responsive-item(controls='')
      source(src='/videos/making-01.mp4', type='video/mp4')
--><!--.col-lg-4.mb-4.card.h-100.text-center
  .embed-responsive.embed-responsive-1by1.rounded
    iframe.embed-responsive-item(src='/videos/making-02.mp4', allowfullscreen='')--><!--.col-lg-4.mb-4.card.h-100.text-center
  .embed-responsive.embed-responsive-1by1.rounded
    iframe.embed-responsive-item(src='/videos/making-03.mp4', allowfullscreen='')
--><!--.col-lg-4.mb-4.card.h-100.text-center
  img.img-fluid.rounded(src='assets/img/making-gif031.gif', alt='')
-->
      </div>
      <br />
      <h4>고객에게 다가가기까지</h4>
      <div class="row">
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid rounded" src="assets/img/making-we.jpg" alt="" />
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid rounded" src="assets/img/making-in.jpg" alt="" />
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid rounded" src="assets/img/making-tos.jpg" alt="" />
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid rounded" src="assets/img/making-out.jpg" alt="" />
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid rounded" src="assets/img/making-end01.jpg" alt="" />
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid rounded" src="assets/img/making-end02.jpg" alt="" />
        </div>
      </div>
      <!-- /.row-->
    </div>