<ng-container *ngIf="auth.user$ | async as user; else notLogin">
  <ng-container *ngIf="user.admin; else guest">
    <div class="container-fluid">
        <div class='row'>
            <app-sidebar-admin></app-sidebar-admin>
            <div class="col col-lg-9 m-3">
              <!-- [ ng container START ] -->
              <ng-container>
                  <div class="container text-center">
                      <div class="row justify-content-center">
                        <div class="col-md-7">
                          <h1 class="font-weight-light mt-4">관리자 페이지 입니다</h1>
                          <p class="lead text-secondary">
                            어서오세요</p>
                          <ul class="text-left">
                            <li>ROOT : 최고 관리자</li>
                            <li>admin : 일반 관리자</li>
                            <li>user : 사용자</li>
                          </ul>
                          *ROOT는 point로 주문을 할 수 없습니다.
                        </div>
                      </div>
                    </div>

                    <!-- <nav class="nav nav-pills nav-justified">
                        <a class="nav-link active">사용자</a>
                        <a class="nav-link" routerLink="/management-admin">관리자</a>
                      </nav>
                      <hr> -->
              </ng-container>
              <!-- [ ng container END ] -->
            </div>
        </div>
    
    </div>
    <!-- <a href="https://s.codepen.io/boomn/debug/BMeXvK/wQMPoNdmVDPk" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">방문자 그래프 확인하기</a> -->
  </ng-container>

  <ng-template #guest>
    <app-not-admin></app-not-admin>
  </ng-template>

</ng-container>

<ng-template #notLogin>
  <app-not-login></app-not-login>
</ng-template>


