<div class="container">
  <h4 class="mt-4 mb-3">우리는 누구인가?</h4>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">회사소개</li>
    <li class="breadcrumb-item active">우리의 CI</li>
  </ol>
  
  <div class="row">
    <div class="col-lg-6 portfolio-item">
      <div class="card h-100 text-center"><a><img class="card-img-top" src="assets/img/ci-en.png" alt="" /></a>
        <div class="card-body">
          <h4 class="card-title">영어 로고</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-6 portfolio-item">
      <div class="card h-100 text-center"><a><img class="card-img-top" src="assets/img/ci-kr.png" alt="" /></a>
        <div class="card-body">
          <h4 class="card-title">한글 로고</h4>
        </div>
      </div>
    </div>
  </div>
  <div class='text-center'>
    <img class="img-fluid rounded mb-1" src="assets/img/Tebah.png" alt="" />
  </div>
</div>