<div class="container" *ngIf="auth.user$ | async as user; else notLogin">
  <!-- [ ROW START ] -->
  <div class="row pt-5">
    <div class="col-lg-5">
      <h3>{{user.rating_name}}</h3>
      <form>
        <div class="form-group">
          <label>이름</label>
          <div class="input-group">
            <input
              #inputNewDN
              type="text"
              class="form-control"
              name="displayName"
              value="{{ user.displayName }}"
              placeholder=""
            />
            <div
              class="input-group-append"
              (click)="onDisplayNameChange(inputNewDN.value, user.displayName)"
              style="cursor: pointer;"
            >
              <span
                class="input-group-text bg-info text-white"
                id="basic-addon2"
                >변경</span
              >
            </div>
          </div>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label class="control-label">이메일</label>
          <div class="">
            <input
              class="form-control"
              type="text"
              placeholder="이메일"
              value="{{ user.email }}"
              disabled
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">포인트</label>
          <div class="">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control text-right"
                value="{{ (userWallet | async)?.have_point | number }}"
                placeholder="0"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                disabled
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">p</span>
                <!-- <span class="input-group-text">내역보기</span> -->
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-7">
      <ul class="list-group mb-3">
        <li
          class="list-group-item btn btn-light d-flex justify-content-between align-items-center"
          routerLink="/order"
        >
          <i class="icon ion-document-text">주문하기</i>
        </li>
        <li
          class="list-group-item btn btn-light d-flex justify-content-between align-items-center"
          routerLink="/order-history"
        >
          <i class="icon ion-ios-list">주문내역</i>
        </li>
      </ul>
    </div>
  </div>
  <!-- [ ROW END ] -->
  <div class="list-group my-5">
    <a *ngIf="user.admin" class="btn btn-light" routerLink="/admin"
      >관리자 페이지 이동</a
    >
    <a class="btn btn-secondary text-light" (click)="auth.logOut()">로그아웃</a>
    <a class="small mr-3 text-secondary my-1 text-right" routerLink="/password"
      >비밀번호 변경하기</a
    >
  </div>
</div>
<!-- end container-fluid -->

<ng-template #notLogin>
  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7 my-3">
          <h1 class="font-weight-light mt-4">로그인이 되어 있지 않아요</h1>
          <p class="lead text-secondary">
            <a routerLink="/login">로그인 페이지</a>
            이동
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
