
  <!-- <a routerLink="/event/RIc44e0PnyaMWIGuZABq">
    <img class='w-100' src="assets/img/about-baner.jpg" alt="">
  </a> -->
  

  <!-- <header>
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted">
        <source src="assets/videos/wadiz-tebah01.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-3 ">와디즈 펀딩 OPEN</h1>
            <a href="https://www.wadiz.kr/web/equity/campaign/1319?isWadizApp=N" target="_blank" class="btn btn-light">와디즈 바로가기</a>
          </div>
        </div>
      </div>
    </header> -->
    <section>
        <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
            <ol class="carousel-indicators">
              <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active" style="background-image: url('assets/img/main02.png');">
              </div>
              <!-- .carousel-item(style="background-image: url('/img/main01.png')") -->
            </div>
            <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span>
            </a> -->
          </div>
    </section>
<!-- <header>
    <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('assets/img/main02.png');">

        </div>
        .carousel-item(style="background-image: url('/img/main01.png')")
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span>
      </a>
    </div>
  </header> -->