<ng-container *ngIf="auth.user$ | async as user; else notLogin">
  <ng-container *ngIf="user.admin; else guest">
    <div class="container-fluid">
      <div class="row">
        <app-sidebar-admin></app-sidebar-admin>
        <div class="col col-lg-9 m-3">
          <!-- [ admin content ng container START ] -->
          <div class="container text-center">
            <div class="row justify-content-center">
              <div class="col-md-7">
                <h1 class="font-weight-light mt-4">판매채널 관리</h1>
              </div>
            </div>
          </div>
          <hr />

          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">NO</th>
                <th scope="col">판매채널</th>
                <th scope="col">종류</th>
                <th scope="col">생성일</th>
                <!-- <th scope="col">Handle</th> -->
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="
                  let sc of salesChannels | async index as i
                "
              >
                <tr
                  data-toggle="modal"
                  data-target="#salesChannelInfoModal"
                  (click)="onSalesChannel(sc)"
                >
                  <th scope="row">{{i+1}}</th>
                  <td>{{ sc.title }}</td>
                  <td>{{ sc.type }}</td>
                  <td>
                    {{ sc.create_timestamp | date: "yyyy.MM.dd" }}
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <button
            class="btn btn-secondary"
            data-toggle="modal"
            data-target="#channelCreateModal"
            style="cursor: pointer;"
          >
            채널확장하기
          </button>
          <!-- [ admin content ng container END ] -->
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #guest>
    <app-not-admin></app-not-admin>
  </ng-template>
</ng-container>

<ng-template #notLogin>
  <app-not-login></app-not-login>
</ng-template>

<!-- [ Modal channelCreateModal START ] -->
<div class="modal" id="channelCreateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">채널확장하기</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">채널명</span>
          </div>
          <input
            #inputCHtitle
            type="text"
            class="form-control"
            placeholder="ex) 테바몰"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">채널형태</span>
          </div>
          <input
            #inputCHtype
            type="text"
            class="form-control"
            placeholder="ex) 온라인쇼핑몰, 오프라인매장 .."
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          취소
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="onCreateChannel(inputCHtitle.value, inputCHtype.value)"
        >
          확장
        </button>
      </div>
    </div>
  </div>
</div>
<!-- [ Modal channelCreateModal END ] -->

<!-- [ Modal salesChannelInfoModal START ] -->
<div class="modal" id="salesChannelInfoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">판매채널 정보</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body" *ngIf="selectSalesChannel">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">채널ID</span>
          </div>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectSalesChannel.salesChannel_id"
            readonly
          />
        </div>
        <p>채널 생성일 : {{selectSalesChannel.create_timestamp | date:'yyyy-MM-dd (HH:mm:ss)'}}</p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">채널명</span>
          </div>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectSalesChannel.title"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">채널종류</span>
          </div>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectSalesChannel.type"
          />
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onDeleteChannel()">
          삭제
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          닫기
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onUpdateChannel()">
          변경
        </button>
      </div>
    </div>
  </div>
</div>
<!-- [ Modal salesChannelInfoModal  END ] -->
