<!-- main app container -->
<div class="jumbotron mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>비밀번호 관리</h3>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <p class='text-secondary small'>비밀번호를 찾거나 변경하실 이메일 주소를 입력해주세요.</p>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="name@example.com"/>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">이메일을 입력해주세요</div>
                            <div *ngIf="f.email.errors.email">이메일 형식이 맞지 않습니다. 예시) name@example.com</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">메일 전송</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>