<div class="container">
  <!-- Page Heading/Breadcrumbs-->
  <h4 class="mt-4 mb-3">우리는 무엇을 파는가?<small> </small></h4>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">제품소개</li>
    <li class="breadcrumb-item active">우리의 제품</li>
  </ol>
  <!-- Project One-->
  <div class="row">
    <div class="col-md-7"><a><img class="img-fluid rounded mb-3 mb-md-0" src="assets/img/barotok.png" alt="" /></a></div>
    <div class="col-md-5">
      <h3>바로톡</h3>
      <p>
        집안일을 하면서 ‘음식물 쓰레기에 손을 대지 않고 처리할 방법은 없을까’ 고민하던 것이 제품을 만드는 시초가 되어, 간편함과 위생적인 요소는 물론 환경적인
        부분까지 고려해 똑똑한 거름망을 고안해 냈습니다.
      </p><a class="btn btn-primary" routerLink="/barotok">자세히<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <!-- /.row-->
  <hr />
  <div class="row">
    <div class="col-md-7"><a><img class="img-fluid rounded mb-3 mb-md-0" src="assets/img/geniback.png" alt="" /></a></div>
    <div class="col-md-5">
      <h3>지니백</h3>
      <p>comming soon..</p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-7"><a><img class="img-fluid rounded mb-3 mb-md-0" src="assets/img/barocube.jpg" alt="" /></a></div>
    <div class="col-md-5">
      <h3>바로큐브</h3>
      <p>comming soon..</p>
    </div>
  </div>
  <hr />
</div>