    <!--[ container START ]-->
    <div class="container">
      <h4 class="mt-4 mb-3">우리는 무엇을 파는가?<small></small></h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">제품소개</li>
        <li class="breadcrumb-item">
          <a routerLink="/products">우리의 제품</a>
        </li>
        <li class="breadcrumb-item"><a routerLink="/barotok">바로톡</a></li>
        <li class="breadcrumb-item active">디스펜서 (barotok)</li>
      </ol>
      <br />
      <div class="row">
        <div class="col-lg-9">
          <h5>디스펜서 소형(Dispenser Small)</h5>
          <div class="shadow-sm p-3 mb-5 rounded bg-light text-center">
            <div class="row">
              <div class="w-75 py-3">
                <img
                  class="w-75 rounded"
                  src="/assets/img/barotok-dispenser-S01.png"
                  alt=""
                />
              </div>
              <div class="w-25 py-3">
                <img
                  class="zoom w-50 m-3 rounded"
                  src="/assets/img/barotok-dispenser-S01.png"
                  alt=""
                /><img
                  class="zoom w-50 m-3 rounded"
                  src="/assets/img/barotok-dispenser-S02.png"
                  alt=""
                /><img
                  class="zoom w-50 m-3 rounded"
                  src="/assets/img/barotok-dispenser-S03.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="shadow-sm mb-3 bg-light rounded p-3">
            <h5>제품설명</h5>
            <hr />
            <p class="text-secondary">
              설거지할 때 물손으로 바로톡 거름망을 한 장씩 뽑아 쓰는 불편함을
              해소하기 위해 거름망을 반 으로 접어 개봉하여 케이스에 꽂아 한 장씩
              뽑아 사용할 수 있도록 디스펜서를 개발하였습니다.
            </p>
            <table
              class="table table-sm table-borderless align-middle text-secondary"
            >
              <tbody>
                <tr>
                  <td class="align-middle text-center">
                    <img
                      src="/assets/img/barotok-dispenser-design01.png"
                      alt="..."
                      style="width: 24px;"
                    />
                  </td>
                  <td class="align-middle">
                    주방의 습기로부터 여분의 거름망을 보호합니다.
                  </td>
                </tr>
                <tr>
                  <td class="align-middle text-center">
                    <img
                      src="/assets/img/barotok-dispenser-design02.png"
                      alt="..."
                      style="width: 24px;"
                    />
                  </td>
                  <td class="align-middle">
                    더욱 편리하게 뽑아서 사용할 수 있습니다.
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="list-inline">
              <li class="list-inline-item text-secondary">
                ※특허 및 디자인 등록이 되어있는 상품입니다.
              </li>
              <li class="list-inline-item">
                <div class="btn-group dropright">
                  <button
                    class="btn btn-sm btn-secondary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    자세히
                  </button>
                  <div class="dropdown-menu" style="width: 270px;">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <img
                          src="/assets/img/patent-02.jpg"
                          alt=""
                          style="width:125px;"
                        />
                      </li>
                      <li class="list-inline-item">
                        <img
                          src="/assets/img/patent-17.jpg"
                          alt=""
                          style="width:125px;"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="shadow-sm p-3 pb-1 mb-3 bg-light rounded">
            <h5>제품사양</h5>
            <hr />
            <table class="table table-sm table-borderless text-secondary">
              <tbody>
                <tr>
                  <td scope="row">제품명</td>
                  <td>거름망 케이스 소형</td>
                </tr>
                <tr>
                  <td scope="row">사용규격</td>
                  <td>160mm X 117mm X 60mm</td>
                </tr>
                <tr>
                  <td scope="row">구성품</td>
                  <td>거름망 케이스</td>
                </tr>
                <tr>
                  <td scope="row">소재</td>
                  <td>ABS</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="shadow-sm p-3 pb-1 mb-5 bg-light rounded">
            <h5>사용방법</h5>
            <hr />
            <img
              class="img-fluid"
              src="/assets/img/barotok-dispenser-S-using.png"
              alt=""
            />
            <p class="text-secondary">
              <br />1. 절취선에 따라 개봉합니다.<br />2. 반으로 접습니다.<br />3.
              거름통케이스에 끼운 후 한 장씩 꺼내어 사용합니다.
            </p>
          </div>
        </div>

        <!-- [ SIDEMENU START ] -->
        
    <div class="col-lg-3 col-md-4 mb-5"><app-side-menu></app-side-menu></div>
    <div class="col-lg-9 col-md-4 mb-5"><app-bottom-info></app-bottom-info></div>
        <!-- [ SIDEMENU END] -->
        
      </div>
    </div>
    <!--[ container END ]-->