<div class="container">
  <h4 class="mt-4 mb-3">우리는 누구인가?</h4>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">회사소개</li>
    <li class="breadcrumb-item active">우리의 IR</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Investor Relations, Tebah.co.,ltd.</h5>
        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/ir/ir-01.PNG" class="img-fluid rounded mb-3 mb-md-0" alt="">
          </div>
          <div class="col-lg-6">
            <p class="text-secondary">IR자료는 테바메일(tebahmail@gmail.com)로 신청해주시면 메일확인후에 IR자료를 보내드립니다.</p>
            <a href="mailto:tebahmail@gmail.com" class="btn btn-primary">
              <i class="icon ion-email"></i> 신청하기
            </a>
          </div>
        </div>
        <!-- <iframe
        class='w-100 rounded mb-3 mb-md-0'
        src="https://docs.google.com/presentation/d/e/2PACX-1vRjb1Urau1t5zfZ5EHY-uD66f0Rgj-adZS_dxX61JHccPcYHAyFBoeGML-jFT5UNlCLyq3hvc-5ZLuz/embed?start=false&loop=false&delayms=3000"
        frameborder="0"
        height="500"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
      ></iframe> -->

    </div>
    <div class="card-footer text-muted">IR 작성일 : 2019년 3월 4일</div>
  </div>
</div>
