
    <!--[ container START ]-->
    <div class="container">
      <h4 class="mt-4 mb-3">우리는 무엇을 파는가?<small></small></h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">제품소개</li>
        <li class="breadcrumb-item">
          <a routerLink="/products">우리의 제품</a>
        </li>
        <li class="breadcrumb-item"><a routerLink="/barotok">바로톡</a></li>
        <li class="breadcrumb-item active">커버 (barotok)</li>
      </ol>
      <br />
      <div class="row">
        <div class="col-lg-9">
          <h5>커버 대형(Cover Large)</h5>
          <!--.shadow-sm.p-3.mb-5.rounded.bg-light.text-centerimg.img-fluid.rounded(src='/assets/img/barotok-cover-L.png', alt='')
  table.table.table-borderless.d-inline-block.col-sm-7
    tbody
      tr
        td
          img.zoom.w-100.rounded(src='/assets/img/barotok-cover-L01.png', alt='')
        td
          img.zoom.w-100.rounded(src='/assets/img/barotok-cover-L02.png', alt='')
        td
          img.zoom.w-100.rounded(src='/assets/img/barotok-cover-L03.png', alt='')
          -->
          <div class="shadow-sm p-3 mb-5 rounded bg-light text-center">
            <div class="row">
              <div class="w-75 py-3">
                <img
                  class="w-75 rounded"
                  src="/assets/img/barotok-cover-L01.png"
                  alt=""
                />
              </div>
              <div class="w-25 py-3">
                <img
                  class="zoom w-50 m-3 rounded"
                  src="/assets/img/barotok-cover-L01.png"
                  alt=""
                /><img
                  class="zoom w-50 m-3 rounded"
                  src="/assets/img/barotok-cover-L02.png"
                  alt=""
                /><img
                  class="zoom w-50 m-3 rounded"
                  src="/assets/img/barotok-cover-L03.png"
                  alt=""
                />
              </div>
            </div>
            <!--table.table.table-borderlesstbody
    tr
      td.col-lg-3
        img.img-fluid.rounded(src='/assets/img/barotok-cover-L.png', alt='')
      td.col-lg-3
        .row  
          .col
            img.zoom.w-100.rounded(src='/assets/img/barotok-cover-L01.png', alt='')
          .col
            img.zoom.w-100.rounded(src='/assets/img/barotok-cover-L01.png', alt='')
          .col
            img.zoom.w-100.rounded(src='/assets/img/barotok-cover-L01.png', alt='')-->
          </div>
          <!--.cardtable.table.table-borderless.text-center
    tbody
      tr
        td
          img.w-50.zoom.img-fluid.rounded(src='/assets/img/barotok-cover-L01.png', alt='')
        td
          img.w-50.zoom.img-fluid.rounded(src='/assets/img/barotok-cover-L02.png', alt='')
        td
          img.w-50.zoom.img-fluid.rounded(src='/assets/img/barotok-cover-L03.png', alt='')--><!--.shadow-sm.p-3.mb-5.bg-white.rounded table.table.table-borderless.text-center
    tbody
      tr
        td
          img.w-50.zoom.img-fluid.rounded(src='/assets/img/barotok-cover-L01.png', alt='')
        td
          img.w-50.zoom.img-fluid.rounded(src='/assets/img/barotok-cover-L02.png', alt='')
        td
          img.w-50.zoom.img-fluid.rounded(src='/assets/img/barotok-cover-L03.png', alt='')
  
  -->
          <div class="shadow-sm mb-3 bg-light rounded p-3">
            <h5>제품설명</h5>
            <hr />
            <p class="text-secondary">
              바로톡 거름망에 맞게 사용자의 불편함과 개선사항을 분석하여 싱크대
              커버를 개발하였습니다.
            </p>
            <p class="text-secondary">
              설거지 할 때마다 커버에 걸리는 음식물을 매번 손으로 털어줘야 하는
              불편함을 해소하기 위해 바로톡은 기존의 가이드를 없애 커버에 걸리는
              음식물을 최소화하여 사용자가 더 편하게 사용할 수 있도록
              리뉴얼하였습니다.
            </p>
            <table
              class="table table-sm table-borderless align-middle text-secondary"
            >
              <tbody>
                <tr>
                  <td class="align-middle text-center">
                    <img
                      src="/assets/img/barotok-cover-design01.png"
                      alt="..."
                      style="width: 24px;"
                    />
                  </td>
                  <td class="align-middle">
                    U자형으로 디자인되어 다양한 형태의 음식물이 걸리지 않고
                    자연스럽게 배출됩니다.
                  </td>
                </tr>
                <tr>
                  <td class="align-middle text-center">
                    <img
                      src="/assets/img/barotok-cover-design02.png"
                      alt="..."
                      style="width: 24px;"
                    />
                  </td>
                  <td class="align-middle">
                    표면 광택으로 오염되는 것을 최소화 하였고 세척이 용이합니다.
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="list-inline">
              <li class="list-inline-item text-secondary">
                ※디자인 등록이 되어있는 상품입니다.
              </li>
              <li class="list-inline-item">
                <div class="btn-group dropright">
                  <button
                    class="btn btn-sm btn-secondary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    자세히
                  </button>
                  <div class="dropdown-menu">
                    <img
                      class="disabled img-fluid dropdown-item my-3"
                      src="/assets/img/patent-12.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="shadow-sm p-3 pb-1 mb-3 bg-light rounded">
            <h5>제품사양</h5>
            <hr />
            <table class="table table-sm table-borderless text-secondary">
              <tbody>
                <tr>
                  <td scope="row">제품명</td>
                  <td>싱크대 거름망 커버 대형 (삐에로)</td>
                </tr>
                <tr>
                  <td scope="row">사용규격</td>
                  <td>배수구 내경 143~145mm</td>
                </tr>
                <tr>
                  <td scope="row">구성품</td>
                  <td>커버, 리필 거치링 SET</td>
                </tr>
                <tr>
                  <td scope="row">소재</td>
                  <td>ABS</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="shadow-sm p-3 pb-1 mb-5 bg-light rounded">
            <h5>사용방법</h5>
            <hr />
            <img
              class="img-fluid"
              src="/assets/img/barotok-cover-L-using.png"
              alt=""
            />
            <p class="text-secondary">
              <br />1. 기존에 사용하시던 스테인리스 거름통을 제거해주세요.<br />2.
              거치링에 거름통을 씌워 배수구에 넣어주세요.<br />3. 커버를
              올려주세요.
            </p>
            <!--table.table.table-borderless.text-secondarytbody
    tr
      td 1. 기존에 사용하시던 스테인리스 거름통을 제거해주세요.
    tr
      td 2. 거치링에 거름통을 씌워 배수구에 넣어주세요.
    tr
      td 3. 커버를 올려주세요.-->
          </div>
        </div>

        <!-- [ SIDEMENU START ] -->
        
    <div class="col-lg-3 col-md-4 mb-5"><app-side-menu></app-side-menu></div>
    <div class="col-lg-9 col-md-4 mb-5"><app-bottom-info></app-bottom-info></div>
        <!-- [ SIDEMENU END] -->
        
      </div>
    </div>
    <!--[ container END ]-->