


<div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7 my-3">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          <h1 class="font-weight-light mt-4">서버에 연결중..</h1>
          <p class="lead text-secondary">
            네트워크에 문제가 있거나 로그인이 되어 있는지 확인해주세요.
            <br>
            <a routerLink="/login">로그인 페이지</a>
            이동</p>
        </div>
      </div>
    </div>
  </div>