
    <div class="container">
      <!-- Page Heading/Breadcrumbs-->
      <h4 class="mt-4 mb-3">오프라인매장</h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">제품소개</li>
        <li class="breadcrumb-item">
          <a routerLink="/where">우리 제품이 있는곳</a>
        </li>
        <li class="breadcrumb-item active">오프라인매장</li>
      </ol>
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a
              href="http://www.lottemart.com/search/search.do?searchTerm=%EB%B0%94%EB%A1%9C%ED%86%A1&amp;viewType=&amp;searchField="
              ><img class="card-img-top" src="/assets/img/offline-lotte.png" alt=""
            /></a>
            <div class="card-body">
              <h6 class="card-title">
                <a
                  href="http://www.lottemart.com/search/search.do?searchTerm=%EB%B0%94%EB%A1%9C%ED%86%A1&amp;viewType=&amp;searchField="
                  >롯데마트</a
                >
              </h6>
              <div class="btn-group dropright">
                <button
                  class="btn btn-sm btn-secondary dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  전지역점
                </button>
                <div class="dropdown-menu">
                  <img
                    class="dropdown-item"
                    src="/assets/img/offline-03.jpg"
                    style="width:500px;"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a
              href="http://emart.ssg.com/search.ssg?target=all&amp;query=%EB%B0%94%EB%A1%9C%ED%86%A1"
              ><img class="card-img-top" src="/assets/img/offline-emart.png" alt=""
            /></a>
            <div class="card-body">
              <h6 class="card-title">
                <a
                  href="http://emart.ssg.com/search.ssg?target=all&amp;query=%EB%B0%94%EB%A1%9C%ED%86%A1"
                >
                  이마트</a
                >
              </h6>
              <div class="btn-group dropright">
                <button
                  class="btn btn-sm btn-secondary dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  전지역점
                </button>
                <div class="dropdown-menu">
                  <img
                    class="dropdown-item"
                    src="/assets/img/offline-04.jpg"
                    style="width:500px;"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a
              ><img class="card-img-top" src="/assets/img/offline-hanaro.png" alt=""
            /></a>
            <div class="card-body">
              <h6 class="card-title"><a>하나로 마트</a></h6>
              <div class="btn-group dropright">
                <button
                  class="btn btn-sm btn-secondary dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  하나로마트 55개점
                </button>
                <div class="dropdown-menu">
                  <img
                    class="dropdown-item"
                    src="/assets/img/offline-01.jpg"
                    style="width:500px;"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a
              href="https://www.homedaymall.com/search/goodsSearch.do?searchLCate=&amp;searchMCate=&amp;topSearchWord=%EC%8B%A0%EA%B7%9C%ED%9A%8C%EC%9B%90%EA%B0%80%EC%9E%85+%EC%8B%9C+3%2C000%EC%9B%90+%ED%98%9C%ED%83%9D%21%21&amp;searchWord=%EB%B0%94%EB%A1%9C%ED%86%A1"
              ><img class="card-img-top" src="/assets/img/offline-homeday.png" alt=""
            /></a>
            <div class="card-body">
              <h6 class="card-title">
                <a
                  href="https://www.homedaymall.com/search/goodsSearch.do?searchLCate=&amp;searchMCate=&amp;topSearchWord=%EC%8B%A0%EA%B7%9C%ED%9A%8C%EC%9B%90%EA%B0%80%EC%9E%85+%EC%8B%9C+3%2C000%EC%9B%90+%ED%98%9C%ED%83%9D%21%21&amp;searchWord=%EB%B0%94%EB%A1%9C%ED%86%A1"
                >
                  홈데이</a
                >
              </h6>
              <div class="btn-group dropright">
                <button
                  class="btn btn-sm btn-secondary dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  금천점
                </button>
                <div class="dropdown-menu">
                  <img
                    class="dropdown-item"
                    src="/assets/img/offline-05.jpg"
                    style="width:500px;"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a
              href="http://www.homeplus.co.kr/app.search.HeaderSearch.ghs?comm=usr.header.search.basic4&amp;search_query=%25EB%25B0%2594%25EB%25A1%259C%25ED%2586%25A1"
              ><img class="card-img-top" src="/assets/img/offline-homplus.png" alt=""
            /></a>
            <div class="card-body">
              <h6 class="card-title">
                <a
                  href="http://www.homeplus.co.kr/app.search.HeaderSearch.ghs?comm=usr.header.search.basic4&amp;search_query=%25EB%25B0%2594%25EB%25A1%259C%25ED%2586%25A1"
                >
                  홈플러스</a
                >
              </h6>
              <div class="btn-group dropright">
                <button
                  class="btn btn-sm btn-secondary dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  홈플러스 65개점
                </button>
                <div class="dropdown-menu">
                  <img
                    class="dropdown-item"
                    src="/assets/img/offline-02.jpg"
                    style="width:500px;"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4 class="my-4">매장에 진열된 사진들</h4>
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
          <img class="img-fluid" src="/assets/img/offline-01.jpg" alt="" />
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <img class="img-fluid" src="/assets/img/offline-02.jpg" alt="" />
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <img class="img-fluid" src="/assets/img/offline-03.jpg" alt="" />
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <img class="img-fluid" src="/assets/img/offline-04.jpg" alt="" />
        </div>
      </div>
    </div>
    <!-- /.container-->
